<div class="p-4">
  <textarea [(ngModel)]="reviewText" rows="4" class="form-control" placeholder="Write your review..."></textarea>
  <button class="btn btn-primary mt-2" (click)="analyzeReview()">Analyze Sentiment</button>

  <div *ngIf="sentiment" class="mt-3 alert alert-info">
    {{ sentiment }}
  </div>
</div>


<!-- reviewsdetector.component.html -->
 <h1>ay haga</h1>
<textarea [(ngModel)]="reviewText" rows="4" placeholder="Write your review..."></textarea>
<button (click)="analyzeReview()" >
  
</button>

<div *ngIf="sentiment" class="sentiment-result">
  {{ sentiment }}
</div>

